.small-input2,
.small-input3,
.small-input4,
.small-input5 {
  width: 200px;
  min-width: 150px;
}


.table-container {
  border-radius: 6px;
  overflow-x: auto;
  /* Permite el desplazamiento horizontal */
  -webkit-overflow-scrolling: touch;
  /* Mejora el desplazamiento en dispositivos táctiles */
}

.suffix-container {
  display: flex;
  align-items: center;
}

.separator {
  border: none;
  border-top: 1px solid red;
  /* Color rojo */
  margin: 5px 0;
  /* Espaciado opcional */
}


.suffix-container mat-icon {
  margin-left: 0px;
  /* Opcional: agregar un poco de espacio entre el botón y el icono */
}

.suffix-container {
  display: flex;
  align-items: center;
}

.suffix-container .mat-icon-button {
  margin-right: 4px;
  /* Ajusta este valor según sea necesario */
}


.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

.icon-naraja {
  color: rgb(217, 125, 33);
}

.icon-blue {
  color: rgb(60, 60, 175);
}

.icon-orange {
  color: #ff9800;
  /* Naranja - Fiado */
}

.icon-purple {
  color: #9c27b0;
  /* Morado - Combinado */
}

.table-container {
  border-radius: 6px;
  overflow-x: auto;
  /* Permite el desplazamiento horizontal */
  -webkit-overflow-scrolling: touch;
  /* Mejora el desplazamiento en dispositivos táctiles */
}


mat-form-field {
  background-color: white;
  border-radius: 8px;
}

table {
  border-radius: 8px;
  overflow: hidden;
}

.mat-form-field-infix {
  padding: 4px 0;
}

mat-icon {
  vertical-align: middle;
}

.mat-header-cell {
  font-weight: 600;
}

.footer {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #2c3e50;
  padding: 10px;
  left: -20px;
  /* Salir del contenedor principal */
  width: calc(100% + 20px);
}

.minimalist-precio {
  position: absolute;
  top: 25px;
  left: 145px;
}


.mesa-activa {
  background: #e3f2fd;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.mesa-activa:hover {
  background: #e8ecef;
}


@media (max-width: 768px) {

  .minimalist-precio {
    position: absolute;
    top: -2px;
    left: 20px;
  }

  .footer {

    font-size: 10px;
    position: relative;
    left: -20px;
    /* Salir del contenedor principal */
    width: calc(97% + 31px);
    /* Hacerlo más largo que el mat-card */
    background-color: #2c3e50;
    /* Cambiar color si es necesario */
  }

  form {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-content: center;
    align-items: start;
  }

  /* Mantiene 1 sola columna hasta llegar al tipo de factura */
  mat-form-field.small-input4 {
    grid-column: span 2;
    width: 100% !important;
  }


  /* Que cada mat-form-field desde tipo factura ocupe 1 columna */
  mat-form-field.small-input3,
  mat-form-field.small-input2,
  mat-form-field.small-input5 {
    width: 100% !important;
  }

  .suffix-container {
    justify-content: space-between;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }

  .table-container table {
    min-width: 700px;
  }

  .table-container th,
  .table-container td {
    font-size: 12px;
    padding: 6px;
  }

  .mat-header-cell {
    white-space: nowrap;
  }

  .minimalist-precio {
    font-size: 14px;
    padding: 8px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  .table-container {
    margin-bottom: 20px;
  }

  /* ::ng-deep .mat-mdc-paginator-range-actions {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  } */
}