<!-- <div class="body animated-background"> -->
<div class="body">
  <mat-card>
    <mat-card-header class="center-content">
      <img src="assets\Images\activacion.png" alt="Reset Password Icon" class="header-icon">
      <mat-card-title class="center-title">Activar Cuenta</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <!-- <mat-label>Activar Usuario</mat-label> -->

          <button mat-raised-button class="agregar" type="submit" (click)="activarCuenta()">
            <mat-icon>save</mat-icon>
            Activar</button>

        </mat-form-field>

      </form>

    </mat-card-content>
  </mat-card>
</div>
