<h2 mat-dialog-title style="text-align: center;">{{tituloAccion}} Producto </h2>

<!-- <div mat-dialog-title style="text-align: center;">
  <h1>Employee Form</h1>
</div> -->
<form [formGroup]="formularioProducto">
  <div mat-dialog-content class="content">



    <!-- <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input *ngIf="!modoEdicion" type="file" class="form-control" name="Imagen" (change)="selectFile($event)"
          #inputFileRef accept=".png, .jpg, .jpeg">
        <mat-icon matPrefix *ngIf="!modoEdicion" (click)="inputFileRef?.nativeElement.click()">attach_file</mat-icon>



        <input matInput formControlName="Urlimagen" readonly
          [value]="obtenerUrlSeguraDeImagen() ? 'Imagen seleccionada' : ''" placeholder="Seleccionar archivo">
        <button mat-icon-button matSuffix color="warn" *ngIf="obtenerUrlSeguraDeImagen()" (click)="limpiarImagen()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field> -->

    <div class="row2">
      <mat-form-field appearance="outline" *ngIf="!modoEdicion">
        <!-- <mat-label>Imagen</mat-label> -->
        <!-- Reemplaza el código del input original con este código -->
        <div class="custom-upload-container">
          <button mat-icon-button class="custom-upload-button" (click)="inputFileRef?.nativeElement.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input multiple *ngIf="!modoEdicion" class="mat-input-file" #inputFileRef type="file" name="Imagen"
            (change)="selectFile($event)" accept=".png, .jpg, .jpeg">
        </div>

        <input matInput formControlName="Urlimagen" readonly
          [value]="obtenerUrlSeguraDeImagen() ? 'Imagen seleccionada' : ''" placeholder="Seleccionar archivo">
        <button mat-icon-button matSuffix color="warn" *ngIf="obtenerUrlSeguraDeImagen()" (click)="limpiarImagen()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>






      <!-- <div class="preview-img" *ngIf="previsualizacion">
        <button mat-icon-button matSuffix color="warn" class="clear-image" (click)="limpiarImagen()">
          <mat-icon>clear</mat-icon>
        </button>
        <img class="preview-image" [src]="previsualizacion" alt="Previsualización de la imagen"
          style="max-width: 300px; max-height: 200px;" (click)="verImagen()">

      </div> -->

      <!-- Galería de imágenes seleccionadas -->



    </div>


    <div class="row2">
      <div class="row mt-3" *ngIf="imagenesSeleccionadas.length > 0">
        <div class="col-6 col-md-4 mb-3" *ngFor="let img of imagenesSeleccionadas; let i = index">
          <div class="position-relative imagen-card">

            <!-- Botón X en rojo, redondo, fondo rojo en hover -->
            <button type="button" class="btn btn-close-custom position-absolute top-0 end-0 m-1 z-1"
              (click)="eliminarImagen(i)" aria-label="Eliminar imagen">
              &times;
            </button>

            <!-- Imagen -->
            <img [src]="img.base64" style="max-height: 50px; object-fit: cover; cursor: pointer;"
              (click)="verImagen(img.base64)" />

          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-bottom: 1em;">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" formControlName="nombre">
        <mat-icon matSuffix class="fas fa-box"></mat-icon>
        <!-- <mat-error *ngIf="formularioProducto.get('nombre')?.hasError('letrasSinNumerosValidator')">
          No se permiten números en el nombre.
        </mat-error> -->
        <mat-error *ngIf="formularioProducto.get('nombre')?.hasError('maxlength')">
          El nombre no puede exceder los 300 caracteres..
        </mat-error>
      </mat-form-field>
    </div>



    <div class="row">
      <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-bottom: 1em;">
        <mat-label>Categoria</mat-label>
        <mat-select asp-for="idCategoria" formControlName="idCategoria">
          <mat-option *ngFor="let item of listaCategoria" [value]="item.idCategoria">
            {{item.nombre}}
          </mat-option>
        </mat-select>
        <div matSuffix class="suffix-container">
          <button mat-icon-button matTooltip="Crear nueva categoria" (click)="nuevoCategoria($event)"
            aria-label="Crear nueva categoria">
            <mat-icon class="icon-green">add_circle</mat-icon>
          </button>
          <mat-icon>category</mat-icon>
        </div>
      </mat-form-field>



      <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-bottom: 1em;">
        <mat-label>Unidad Medida</mat-label>
        <mat-select formControlName="unidadMedida">

          <mat-option value="Unitario">
            <mat-icon color="primary">check_circle_outline</mat-icon> Unitario
          </mat-option>

          <mat-option value="Comida">
            <mat-icon color="warn">restaurant</mat-icon> Comida
          </mat-option>

          <mat-option value="Heladeria">
            <mat-icon color="primary">icecream</mat-icon> Heladeria
          </mat-option>

          <mat-option value="Empacados">
            <mat-icon color="accent">inventory_2</mat-icon> Empacados
          </mat-option>

        </mat-select>
        <mat-icon matSuffix>category</mat-icon>
      </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-bottom: 1em;">
        <mat-label>Tiene Porcion</mat-label>
        <mat-select formControlName="porcion" (selectionChange)="onPorcionChange($event.value)">
          <mat-option value="1">
            <mat-icon class="icon-green">check_circle</mat-icon>
            Si
          </mat-option>
          <mat-option value="0">
            <mat-icon class="icon-red">highlight_off</mat-icon>
            No
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="mostrarPrecioPorcion" class="full-width" appearance="fill"
        style="width: 100%; margin-bottom: 1em;">
        <mat-label>Precio por porcion</mat-label>
        <input matInput autocomplete="off" maxlength="15" formControlName="precioPorPorcionTexto"
          (input)="formatearNumero($event, 'precioPorPorcionTexto')">

        <div matSuffix class="suffix-container">

          <mat-icon matSuffix>attach_money</mat-icon>
        </div>

        <mat-error *ngIf="formularioProducto.get('precioPorPorcionTexto')?.hasError('maxlength')">
          El precio no puede exceder los 10 digitos.
        </mat-error>
      </mat-form-field>

    </div>





    <div class="row">


      <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-bottom: 1em;">
        <mat-label>Precio de Venta</mat-label>
        <input matInput autocomplete="off" maxlength="15" formControlName="precio"
          (input)="formatearNumero($event, 'precio')">

        <div matSuffix class="suffix-container">

          <mat-icon matSuffix>attach_money</mat-icon>
        </div>

        <mat-error *ngIf="formularioProducto.get('precio')?.hasError('maxlength')">
          El precio no puede exceder los 10 digitos.
        </mat-error>
      </mat-form-field>



      <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-bottom: 1em;"
        *ngIf="!ocultarStock">
        <mat-label>Stock</mat-label>
        <input matInput autocomplete="off" maxlength="4" formControlName="stock" type="number">
        <mat-icon matSuffix>inventory</mat-icon>

        <mat-error *ngIf="formularioProducto.get('stock')?.hasError('pattern')">
          Solo se permiten números en Stock.
        </mat-error>
        <mat-error *ngIf="formularioProducto.get('stock')?.hasError('max')">
          El stock no puede exceder el máximo permitido.
        </mat-error>
      </mat-form-field>




    </div>








  </div>

  <mat-dialog-actions class="dialog-actions">
    <span class="spacer"></span> <!-- Este elemento ocupa el espacio izquierdo -->


    <button mat-raised-button class="agregar" [disabled]="formularioProducto.invalid"
      (click)="guardarEditar_Producto()">
      <mat-icon>save</mat-icon> {{botonAccion}}
    </button>

    <button mat-raised-button mat-dialog-close color="warn">
      <mat-icon>close</mat-icon> Volver
    </button>

  </mat-dialog-actions>

</form>