<div class="payment-success">
  <mat-card>
    <mat-dialog-content class="dialog-content">
      <i class="fas fa-check-circle icon-success"></i>
      <h2 class="title">Pago Exitoso</h2>
      <p class="message">
        Tu pago ha sido procesado correctamente. Recibirás un email con los detalles. Gracias por tu compra.
      </p>
      <div class="button-container">
        <button mat-button class="agregar" (click)="closeDialog()">
          <i class="fas fa-arrow-left"></i> Ir a login
        </button>
      </div>
    </mat-dialog-content>
  </mat-card>
</div>
