/* Estilo del título de la modal */
.modal-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

/* Contenedor principal de la modal */
.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilo de la imagen del producto */
.product-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product-image:hover {
  transform: scale(1.05);
}

/* Detalles del producto */
.product-details {
  background-color: #f0f8ff; /* Fondo azul claro */
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #cce7ff; /* Borde azul claro */
  text-align: center;
  color: #333;
  margin-top: 16px;
}

/* Nombre del producto */
.product-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1d1f20; /* Azul oscuro para el nombre del producto */
  margin-bottom: 8px;
}

/* Texto de características del producto */
.product-details p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  background-color: #eaf5ff; /* Fondo claro para el texto */
  padding: 8px;
  border-radius: 4px;
}

/* Botón de cierre de la modal */
button[color="warn"] {
  background-color: #ff4c4c;
  color: white;
}

button[color="warn"]:hover {
  background-color: #9e3434;
}

.mat-dialog-actions {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
}

/* Estilos para vista móvil */
@media only screen and (max-width: 768px) {
  .modal-content {
    padding: 16px;
  }

  .product-image {
    max-width: 80%;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .product-name {
    font-size: 1.1rem;
  }

  .product-details p {
    font-size: 0.85rem;
  }
}
