.cart-container {
  max-height: 60vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.empty-cart-message {
  padding: 20px;
  text-align: center;
  font-style: italic;
  color: #888;
}

.product-image {
  width: auto;
  height: 100px; /* Tamaño máximo deseado */
  object-fit: contain; /* Muestra la imagen completa sin recortar */
  margin-right: 10px;
  cursor: pointer;
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  flex-wrap: wrap; /* Para adaptarse a pantallas pequeñas */
}

/* .product-image {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  cursor: pointer;
} */

.product-details {
  flex: 1;
  text-align: left;
  min-width: 150px; /* Asegura que no se colapse en pantallas pequeñas */
}

.cart-total {
  margin-top: 10px;
  text-align: right;
}

.cart-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.small-input {
  width: 130px; /* Ajusta el ancho del campo de entrada según sea necesario */
  margin-right: 10px; /* Espacio entre el input y el precio */
}

.quantity-price-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  margin-bottom: 5px; /* Espaciado entre los elementos */
}

.price-info {
  font-size: 0.9rem;
  color: #555;
}

mat-form-field {
  min-width: 0; /* Evita que el campo de entrada tenga un ancho mínimo */
  flex: none; /* Evita que el campo ocupe el espacio restante */
}

input.mat-input-element {
  font-size: 0.8rem; /* Reduce el tamaño de la fuente del input */
  padding: 0; /* Reduce el padding del input */
  height: 50px; /* Ajusta la altura del input */
}



button[color="warn"]:hover {
  background-color: #b98989; /* Cambia el color al pasar el ratón sobre el botón */
}
button.eliminar {
  background-color: #f44336; /* Fondo del botón Cancelar */
  color: #fff; /* Color del texto del botón Cancelar */
}
button.eliminar:hover {
  background-color: #9e3434; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
button.agregar {
  background-color: #3351aa; /* Fondo del botón Cancelar */
  color: #fff; /* Color del texto del botón Cancelar */
}
button.agregar:hover {
  background-color:  rgb(79, 96, 113); /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
button.agregar[disabled] {
  background-color: #ccc; /* Fondo del botón en gris cuando está deshabilitado */
  color: #666; /* Color del texto en gris cuando está deshabilitado */
}

button.agregar[disabled]:hover {
  background-color: #ccc; /* Mantener el color de fondo en gris al pasar el ratón sobre el botón deshabilitado */
}
.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.dialog-actions button:first-child {
  margin-right: auto; /* Mueve el botón "Guardar" al centro */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {


  .cart-item {
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
  }

  .product-image {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
  }

  .product-details {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .cart-total {
    text-align: center;
    margin-bottom: 10px;
  }

  .dialog-actions {
    flex-direction: column;
    align-items: center;
  }

  .dialog-actions button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .cart-item {
    padding: 5px;
  }

  .product-details {
    font-size: 0.9rem;
  }

  .cart-total {
    font-size: 1rem;
  }
}
