<!-- modal-ventas-fiadas.component.html -->
<h2 mat-dialog-title>Ventas Fiadas</h2>
<mat-dialog-content *ngIf="ventas">
  <p><strong>Cliente:</strong> {{ ventas.nombreCliente }}</p>
  <p><strong>Total Fiado:</strong> {{ this.formatearNumero(ventas.totalFiado.toString()) }}</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
    <ng-container matColumnDef="descripcionProducto" >
      <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">Nombre del producto</th>
      <td mat-cell *matCellDef="let venta" style="text-align: center;">{{ venta.descripcionProducto }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">Cantidad</th>
      <td mat-cell *matCellDef="let venta" style="text-align: center;">{{ venta.cantidad }}</td>
    </ng-container>

      <ng-container matColumnDef="precioTexto">
      <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">Precio</th>
      <td mat-cell *matCellDef="let venta" style="text-align: center;">{{  this.formatearNumero(venta.precioTexto) }}</td>
    </ng-container>

    <ng-container matColumnDef="totalTexto" style="background-color: #3f4448; color: white; text-align: center;">
      <th mat-header-cell *matHeaderCellDef style="background-color: #3f4448; color: white; text-align: center;">Sub Total</th>
      <td mat-cell *matCellDef="let venta" style="text-align: center;"> {{ this.formatearNumero((venta.cantidad * venta.precioTexto).toString()) }}</td>
    </ng-container>


 

    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
  </table>

<mat-paginator [pageSize]="3"
               [pageSizeOptions]="[3]"
               showFirstLastButtons
               aria-label="Selector de página">
</mat-paginator>


</mat-dialog-content>
<mat-dialog-actions align="end">

  <button class="eliminar" mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
     