<h1 style="margin:20px 0px 0px 40px ; text-align: center;">Informacion - resumen último mes</h1>
<div class="Ventas">

  <!-- <button mat-raised-button class="minimalist-Ventas" (click)="configurarVentaObjetiva()">
    <mat-icon>emoji_events</mat-icon>
    Configurar Meta De Venta
  </button> -->


</div>

<mat-card style="margin: 5px 5px 5px 5px">


  <mat-card-content class="dashboard-card-content">
    <mat-grid-list [cols]="isMobile ? 1 : 3" rowHeight="100px" gutterSize="16px">


      <mat-grid-tile  >


        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent">payments</mat-icon>
            </div>
            <mat-card-title>Total de Ingresos</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{ formatearNumero(totalIngresos) }} $</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile >

      <!-- <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent">attach_money</mat-icon>
            </div>
            <mat-card-title>Ganancias</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{ formatearNumero(totalGanancia) }} $</mat-card-subtitle>
          </mat-card-header>
        </mat-card>



      </mat-grid-tile> -->

      <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">sell</mat-icon>
            </div>
            <mat-card-title>Total de Ventas</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalVentas}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile>


      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">collections_bookmark</mat-icon>
            </div>
            <mat-card-title>Total de Productos </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalProductos}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent2">inventory_2</mat-icon>
            </div>
            <mat-card-title>Productos En Bodega </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalProductosBodega}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <!-- <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">store</mat-icon>
            </div>
            <mat-card-title>Total de Proveedores</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalProveedores}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile> -->

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="primary">people</mat-icon>
            </div>
            <mat-card-title>Total de Usuarios </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalUsuarios}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

  <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent2">event_seat</mat-icon>
            </div>
            <mat-card-title>Total de mesas Dispo. </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalMesas}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>


        <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="primary">receipt_long</mat-icon>
            </div>
            <mat-card-title>Total de pedidos Pend. </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalPedidosPendiente}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <!-- <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn2">people</mat-icon>
            </div>
            <mat-card-title>Total de Clientes </mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalCliente}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile> -->

      <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent2">shopping_basket</mat-icon>
            </div>
            <mat-card-title>Productos Vendidos</mat-card-title>
            <mat-card-subtitle style="text-align: center;"> {{ formatearNumero(totalProductosCantidad)
              }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">cancel</mat-icon>
            </div>
            <mat-card-title>Total de Anuladas</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalVentasAnulada}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="primary2">person</mat-icon>
            </div>
            <mat-card-title>Responsable de la Caja</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{NombreCaja}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile>

      <!-- <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent2">point_of_sale</mat-icon>
            </div>
            <mat-card-title>Saldo en Caja</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{formatearNumero(TotalCaja)}} $</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile> -->

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn2">emoji_events</mat-icon>
            </div>
            <mat-card-subtitle>
              <button mat-raised-button class="minimalist-Ventas" (click)="configurarVentaObjetiva()">
                {{ isMobile ? 'Configurar Metas' : 'Configurar Meta De Venta' }}
              </button>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <!-- <mat-grid-tile>

        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="warn">sell</mat-icon>
            </div>
            <mat-card-title>Ventas Online</mat-card-title>
            <mat-card-subtitle style="text-align: center;">{{totalVentasOnline}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </mat-grid-tile> -->

      <!-- <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon color="accent">person</mat-icon>
            </div>
            <mat-card-title>Ganancia</mat-card-title>
            <mat-card-subtitle>{{totalGananciasProductos}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile> -->

    </mat-grid-list>

    <mat-card class="sales-card">
      <mat-card-content>
        <div class="chart-container">
          <div class="chart chart-left">
            <h3>Ventas del Mes</h3>
            <canvas id="myChart"></canvas>
          </div>
          <div class="chart chart-right">
            <h3>Venta por Meses</h3>
            <canvas id="myChartDoce"></canvas>
          </div>
      
        </div>
      </mat-card-content>
    </mat-card>


    <br>
    <br>
    <!-- <mat-card style="margin-top:15px">
      <mat-card-content>
        <div style="width: 50%;height:300px">
          <canvas id="myChartDoce"></canvas>
        </div>
      </mat-card-content>
    </mat-card> -->


 
    <!-- <mat-card style="margin-top:15px">
      <mat-card-content>
        <div style="width: 50%;height:300px">
          <canvas id="myChartCompra"></canvas>
        </div>
      </mat-card-content>
    </mat-card> -->




    <div class="productos-mas-vendidos-container">




      <h2 class="titulo-productos-mas-vendidos">Los 3 Productos Más Vendidos</h2>

      <div *ngIf="topProductosMasVendidos.length > 0" class="productos-mas-vendidos-lista">
        <div *ngFor="let producto of topProductosMasVendidos; let i = index" class="producto-mas-vendido"
          [ngClass]="{ 'producto-destacado-1': i === 0, 'producto-destacado-2': i === 1, 'producto-destacado-3': i === 2 }"
          [@productoHighlight]="producto.estadoAnimacion" (mouseenter)="onMouseEnter(producto, i + 1)"
          (mouseleave)="onMouseLeave(producto)">



          <!-- <div *ngFor="let producto of topProductosMasVendidos; let i = index" class="producto-mas-vendido"
        [@productoHighlight]="producto.estadoAnimacion"
        (mouseenter)="onMouseEnter(producto, i + 1)"
        (mouseleave)="onMouseLeave(producto)"> -->
          <img *ngIf="producto.imagenUrl[0]" class="img-hover-zoom" [src]="producto.imagenUrl[0]"
            alt="Imagen del producto" width="100" height="100" style="object-fit: contain;"
            (click)="abrirDialogImagen(producto.imagenUrl)">

          <p class="nombre-producto">
            {{ producto.nombre.length > 40 ? producto.nombre.slice(0, 40) + '...' : producto.nombre }}
          </p>
          <p class="cantidad-vendida">Vendidos: {{ producto.cantidadVendida }}</p>
        </div>


      </div>
  

      <div style="display: flex; justify-content: center; align-items: center; height: 320px;">
        <canvas id="doughnutChart" width="420" height="320"
          style="width: 400px; height: 400px; max-width: 100%; max-height: 100%; transform: scale(0.8);">
        </canvas>
        <div id="productNames" style="margin-left: 5px;"></div>
      </div>





      <div *ngIf="topProductosMasVendidos.length === 0" class="sin-productos-mas-vendidos">
        <p>No hay productos más vendidos para mostrar.</p>
      </div>
    </div>
    <br>
    <!-- Agrega el botón "Ver Más" y la tabla oculta -->
    <div class="ver-mas-container text-center">

      <div class="ver-mas-btn">
        <button mat-raised-button color="accent" (click)="mostrarTabla = !mostrarTabla">
          <span *ngIf="mostrarTabla">
            <mat-icon>expand_less</mat-icon>
            Ocultar
          </span>
          <span *ngIf="!mostrarTabla">
            <mat-icon>expand_more</mat-icon>
            Ver Más
          </span>
        </button>
      </div>


      <div *ngIf="mostrarTabla" class="tabla-productos">
        <h2 class="titulo-productos-mas-vendidos">Listado de productos Vendidos </h2>

        <!-- Campo de búsqueda -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Buscar producto</mat-label>
          <input matInput [(ngModel)]="filtro" placeholder="Ingrese el nombre del producto">
        </mat-form-field> -->
        <div class="ver-mas-btn2">
          <mat-form-field appearance="fill" class="futuristic-search-field">
            <input matInput [(ngModel)]="filtro" #input placeholder="Ingrese el nombre del producto">
            <button mat-icon-button matSuffix aria-label="Buscar" class="futuristic-search-button">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Producto</th>
            
              <th>Cantidad Vendida</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosPaginados">
              <td>

                <img *ngIf="producto.imagenUrl" class="img-hover-zoom" [src]="producto.imagenUrl[0]"
                  alt="Imagen del producto" width="80" height="80" style="object-fit: contain;"
                  (click)="abrirDialogImagen( producto.imagenUrl)">
              </td>
              <td>{{ producto.nombre.length > 40 ? producto.nombre.slice(0, 40) + '...' : producto.nombre }}</td>
              
              <td>{{ producto.cantidadVendida }}</td>
            </tr>
          </tbody>
        </table>
        </div>


        <div class="paginacion">
          <button mat-raised-button (click)="paginaAnterior()" class="ver" [disabled]="paginaActual === 1">
            <mat-icon>navigate_before</mat-icon> Anterior
          </button>
          <span>Página {{ paginaActual }} de {{ numeroDePaginas }}</span>
          <button mat-raised-button (click)="siguientePagina()" color="accent"
            [disabled]="paginaActual === numeroDePaginas">
            Siguiente <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        <br>
        <br>

        <div class="generar-botones">
          <button mat-raised-button color="warn" (click)="generarPDF()">
            <i class="fas fa-file-pdf icon-pdf"></i>
            {{ isMobile ? 'Generar' : 'Generar PDF' }}
          </button>
          <button mat-raised-button color="primary" (click)="generarExcel()">
            <i class="fas fa-file-excel icon-excel"></i>
            {{ isMobile ? 'Generar' : 'Generar Excel' }}
          </button>
        </div>

      </div>


    </div>

    <br>

  </mat-card-content>


</mat-card>
<footer class="footer">
  <p>Copyright &copy; 2025 - Hecho con orgullo en Colombia. Todos los derechos reservados.</p>
</footer>
